All users





<% @users.each do |user| %>

  <% if user == current_user %>
  <% else %>
    <p><%= user.name %>
    <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></p>
  <% end %>


<% end %>